*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(126, 99, 99, 0.5)), url(res.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
}
.body header button {
    padding: 15px;
    width: 90px;
    height: 80px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 38%;
    margin-left: 50%;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:60px ;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 30px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
background-color:#fff;
	color: #000;

}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 85px;
}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 5px 20px;
	color: #fff;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

.sub-menu{
	display:none;
    top:6%;
    position: relative;
}

.sub-menu ul{
	position: absolute;

}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: -8px;
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.main ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}
section{
	height:100vh ;
	width: auto;
	border: 1px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-repeat: no-repeat ;
	background-size: cover;
	
}
#About{
	background-color: rgb(207, 122, 196);
	background-repeat: no-repeat;
	background-size: cover;
	color: #0a0000;
	font-weight: 500;
	font-size: 40px;
	background-image: url(im1.jpg);
}
#Recipes {
	background-repeat: no-repeat;
	/* border-image-repeat: unset; */
	text-align: start;
	color: rgb(248, 247, 250);
	justify-content: right;

	padding: 150px 200px;
	font-size: 24px;
	background-image: url(im.jpg);
	}
	
#Categories {
	background-color: #fff;
}
.Categories div {
    width: 100;
	height: 100vh;
	display: flex;
	align-items: center;
}
#contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 150px;
	display: flex;
	text-align: left;
	justify-content: right;
	color:#000;
	padding: 100px 200px;
	background-image: url(im3.jpg) ;
}

